<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
	<add key="Instructors" value="https://localhost:7167/api/Instructors"/>
	<add key="Departments" value="https://localhost:7167/api/Departments"/>
	<add key="Login" value="https://localhost:7167/api/Account/login"/>
	<add key="Register" value="https://localhost:7167/api/Account/register"/>
</appSettings>
</configuration>